public
.venv
.acimov/profile_check/.vscode/launch.json
.acimov/profile_check/__pycache__/constants.cpython-311.pyc
.acimov/profile_check/__pycache__/corese.cpython-311.pyc
.acimov/profile_check/corese-library-python-4.4.1.jar
.acimov/profile_check/output/*
.vscode
.vscode/*
*.pyc
