public
.venv
.acimov/model-test/.vscode/launch.json
.acimov/model-test/__pycache__/constants.cpython-311.pyc
.acimov/model-test/__pycache__/corese.cpython-311.pyc
.acimov/model-test/corese-library-python-4.4.1.jar
.acimov/output/*
.vscode
.vscode/*
*.pyc
